.cell {
  width: 100px;
  height: 100px;
  border: 1px solid var(--border-color);
  border-bottom: 0;
  border-right: 0;
  position: relative;
}

.selected {
  background-color: var(--selection-color);
}

.resizing {
  background-color: var(--resizing-color);
}

.resizer {
  border-top: var(--resizer-size) solid #989898;
  border-left: var(--resizer-size) solid transparent;
  border-right: var(--resizer-size) solid transparent;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 0px;
  right: -1px;
  cursor: nwse-resize;
}
